<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>TodoChallengers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@400;700&display=swap"
            rel="stylesheet"
    >
  </head>
  <!-- css file 연결 -->
  <link rel="stylesheet" href="/css/todostyle.css">

  <body>
    <nav>
      <ul class="nav-bar">
        <li class="logo"><a href=""><span class="accent">TodoChallengers</span></a></li>
        <li class="nav-item"><a href="">
          <img class="menu-icon"
               src="/img/menu.png"
               alt="menu">
        </a></li>
      </ul>
    </nav>
    <main>
      <section class="challeges">
        <!-- 챌린지 바 부분 -->
      </section>
      <section class="profile">
        <p th:text="'hello ' + ${id}">hello! empty</p>
        <!-- 프로필(사진, 닉네임, 한줄소개) -->
      </section>
      <section id="calender">
        <!-- 달력 및 투두 -->

      </section>
      <section class="feed">
        <!-- feed 은화언니 부분 -->
      </section>
    </main>
    <script>
      async function fetchHtmlAsText(url) {
        return await (await fetch(url)).text();
      }

      async function importPage(target) {
          document.querySelector('#' + target).innerHTML = await fetchHtmlAsText(target);
      }

      importPage("calender");
    </script>
  </body>
</html>